<?xml version="1.0" encoding="UTF-8"?>

<!-- config.xml reference: https://build.phonegap.com/docs/config-xml -->
<widget xmlns     = "http://www.w3.org/ns/widgets"
        xmlns:gap = "http://phonegap.com/ns/1.0"
        id        = "com.aarush.todolist"
        version   = "1.0.0">

    <name>To do list</name>

    <description>
        To do list app
    </description>

    <author href="https://github.com/varush108/To-do-list">
        Aarush Verma
    </author>

    <icon src="to do icon.png"/>
</widget>